# Java
JPPipeline/bin/**/*.class

# JPP output
JPPipeline/out/**

# ASP output
**/*output.csv
**/*output.csv.gz

# Archive
JPPipeline/archive/*output.csv.gz
JPPipeline/archive/*output.csv

# MCSBN compiled binary
MCSBN/bin/

# MCSBN output
MCSBN/out/**

# MCSBN archive
MCSBN/archive/*output.csv.gz
MCSBN/archive/*output.csv


# Latex compilation
Redaction/rapport_stage.*
!Redaction/rapport_stage.tex
!Redaction/rapport_stage.pdf